<h2>Hi {{profileCtrl.currentUser.username}}</h2>

<p>This is your Profile <span ng-click="profileCtrl.toggleEdits()">Edit</span></p>

<img src="{{profileCtrl.currentUser.userPhoto}}" alt="userPhoto">
<input class="editProfile" type="text" ng-model="profileCtrl.currentUser.userPhoto" placeholder="Image Url">

<h3>About</h3>
<p>{{profileCtrl.currentUser.about}}</p>
<input class="editProfile" type="text" ng-model="profileCtrl.currentUser.about">

<button class="editProfile" ng-click="profileCtrl.editProfile()">Save Changes</button>


