body {
	margin-top: 10%;

}

img {
  max-height: 200px;
  max-width: 100%;
}

/*css to hide edit buttons on load*/
.editProfile, .editPhoto, .nav .navBarAuth {
	display: none;
}

.iconImg {
	max-height: 3em;
	max-width: 3em;
}

